.AdminNav_div {
  padding: 30px;
  height: 700px;
}

.AdminNav_title {
  cursor: pointer;
  font-family: 'NanumSquareR';
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
}

.AdminNav_title_sub {
  font-size: 18px;
  font-weight: 900;
}

.AdminNav_div1 {
  font-family: 'NanumSquareR';
  margin-bottom: 30px;
}

.AdminNav_div1 div {
  margin-bottom: 20px;
}

.AdminNav_div2 {
  font-family: 'NanumSquareR';
  margin-bottom: 30px;
}

.AdminNav_div2 div {
  font-family: 'NanumSquareR';
  margin-bottom: 20px;
}

.AdminNav_div1 div:hover {
  cursor: pointer;
}
