.liveAuction_div {
  display: block;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'NanumSquareR';
}

.liveAuction_main {
  display: flex;
  height: 100%;
  width: 100%;
}

/* 채팅박스 */
.liveAuction_chatBox {
  padding: 0px;
  width: 35%;
  margin-top: 5px;
}

.liveAuction_remainingTime {
  margin-top: 20px;
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
}

.liveAuction_remainingTime_text {
  font-size: 17px;
  color: white;
  font-weight: 800;
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
}

.liveAuction_chat {
  border-left: 1px solid #ebebeb;
  padding: 15px;
  margin: 10px;
}

/* 정보박스 */
.liveAuction_infoBox {
  height: 100%;
  padding: 10px;
  width: 65%;
}

.liveAuction_info1 {
  padding: 10px;
}

.liveAuction_time {
  text-align: center;
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.liveAuction_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.liveAuction_mainTitle {
  margin-left: 20px;
  height: 100%;
  font-size: 25px;
  text-align: center;
  font-weight: 900;
}

.liveAuction_mainSub {
  display: flex;
  padding: 20px;
  height: 100%;
  line-height: 20px;
}

.liveAuction_money1 {
  font-size: 17px;
  height: 50%;
  color: rgb(0, 0, 0);
  font-weight: 900;
  margin-left: 1px;
  margin-right: 1%;
}

.liveAuction_money2 {
  font-size: 17px;
  height: 50%;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}

.liveAuction_img {
  height: 50%;
  border: 0px solid #232a32;
}
.liveAuction_img img {
  width: 100%; /* 컨테이너 너비에 맞게 조절 */
  height: 400px; /* 이미지 높이 고정 */
  object-fit: cover; /* 이미지 비율을 유지하며 커버링 */
  border-radius: 10px;
}

.liveAuction_info2 {
  padding: 10px;
  height: 30%;
}

.liveAuction_moneys {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  font-size: 15px;
  padding: 10px;
  width: 55%;
}

.liveAuction_moneys2 {
  padding: 10px;
  border-radius: 5px;
}

.liveAuction_Money {
  font-size: 17px;
  font-weight: 800;
  text-align: end;
  margin-left: 3%;
}

.liveAuction_Money1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 3%;
  font-size: 15px;
}

.liveAuction_Money2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 3%;
  font-size: 15px;
}

.liveAuction_Money3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 3%;
  font-size: 15px;
  font-weight: 900;
}

.liveAuction_bidPoint {
  display: flex;
  justify-content: right;
  font-size: 17px;
  font-weight: 900;
  color: #ef6253;
  margin-right: 2.5%;
  margin-bottom: 1%;
}

.liveAuction_nowMoney {
  height: 50%;
  border: 0px solid #232a32;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.inputBackground {
  /* input 요소의 배경을 설정합니다.
  border: none; /* 테두리 없애기 */
  padding: 3px; /* 안쪽 여백 설정 */
  width: 150px; /* 너비 설정 */
  height: 20px; /* 높이 설정 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  border-bottom: 1px solid gray;
}

.liveAuction_bidPrice {
  text-align: center;
  font-size: 17px;
  font-weight: 900;
  margin-right: 10px;
  font-size: 900;
}

.liveAuction_btns {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  height: 50%;
}

.liveAuction_btn1 {
  height: 100%;
}

.liveAuction_btn1 .btn {
  background-color: rgb(235, 229, 229);
}
.liveAuction_btns .btn {
  /* 버튼의 너비를 늘리고, 높이를 조절합니다. */
  width: 150px;
  height: 60px;
  /* 음영 효과를 추가합니다. */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 예시 음영 값 */
  /* 배경색과 글꼴 색상을 설정합니다. */
  color: rgb(58, 58, 58);
  /* 글꼴 크기와 굵기를 조절합니다. */
  font-size: 15px;
  border: none;
  border-radius: 10px;

  font-weight: 800;
  /* 마우스 호버 시 효과를 추가합니다. */
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.liveAuction_btn2 {
  height: 100%;
}

.liveAuction_btn2 .btn {
  background-color: #ffffff;
}

.liveAuction_btn3 {
  height: 100%;
}

.liveAuction_btn3 .btn {
  background-color: #d3cece;
}

/* 라이브 그래프 */
.liveAuction_graph {
  margin-top: 25px;
}

.liveAuction_graph_title {
  font-size: 18px;
  font-weight: 900;
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.recharts-legend-wrapper {
  color: black;
}

.liveAuction_hr {
  color: white;
}

.liveAuction_moneys {
  display: flex;
}

.liveAuction_graph_main {
  height: 300px;
  /* border:1px solid; */
}

.liveAuction_graph_title_sub {
  margin-top: 20px;
  font-size: 15px;
  color: black;
  text-align: center;
}

.liveAuction_input {
  height: 100%;
  width: 15%;
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 효과 제거 */
  background-color: transparent; /* 배경색 투명하게 */
  border-bottom: none; /* 밑줄 제거 */
}

.liveAuction_button {
  height: 25px;
  width: 25px;
  opacity: 0.1; /* 버튼 숨기기 */
}

.vertical-line {
  width: 1px;
  height: 10px;
  background-color: gray;
}
