.AdminExpertReq_div {
  font-family: 'NanumSquareR';
  padding: 15px;
}

.AdminExpertReq_title {
  font-size: 18px;
  font-weight: 900;
}

.AdminExpertReq_sub {
  display: flex;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.AdminExpertReq_hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  height: 3px;
  background-color: black;
}

.AdminExpertReq_sub1 {
  width: 30%;
}

.AdminExpertReq_sub2 {
  padding: 10px;
  width: 70%;
}

.AdminExpertReq_sub_btn {
  cursor: pointer;
  display: flex;
  justify-content: right;
}

.AdminExpertReq_sub_btn div {
  border: 1px solid #ebebeb;
  padding: 10px;
  margin-right: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.AdminExpertReq_sub_btn div:hover {
  background-color: #3e3e3e;
  color: white;
  padding: 10px;
  margin-right: 10px;
}

.AdminExpertReq_sub_div {
  display: flex;
  margin-bottom: 10px;
}

.AdminExpertReq_sub_title {
  font-weight: 900;
  margin-bottom: 5px;
  margin-right: 5px;
}

.AdminExpertReq_sub_img {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

/* 모달 디자인 */
.AdminExpertReqModal {
  padding: 20px;
}

.AdminExpertReqModal_title {
  margin-bottom: 20px;
  font-weight: 900;
  font-family: 'NanumSquareR';
  font-size: 18px;
}

.AdminExpertReqModal_btn {
  display: flex;
  justify-content: right;
}

.AdminExpertReqModal_btn1 {
  cursor: pointer;
  padding: 10px;
  font-family: 'NanumSquareR';
  border: 1px solid #ebebeb;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
}

.AdminExpertReqModal_btn1:hover {
  cursor: pointer;
  padding: 10px;
  font-family: 'NanumSquareR';
  background-color: #3e3e3e;
  color: white;
  border-radius: 10px;
}

.AdminExpertReqModal_txt {
  font-family: 'NanumSquareR';
  border: 1px solid #3e3e3e;
  width: 100%;
  outline: none;
  resize: none;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
}

.AdminExpertReq_noDataMessage {
  padding: 100px;
  text-align: center;
  color: gray;
}
